<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/solar/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">

    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="css/style.css">

    <title>{{defaults.page.title}}</title>

  </head>
  <body>
    <h1>{{defaults.page.title}}</h1>
    <div class="container">
      <div class="row justify-content-center mt-3" id="live-streams">
      </div>
      <div class="row justify-content-center mt-3">
        <button 
          onclick="
            window.open(
              'https://multitwitch.tv/' + 
              Array.from(document.querySelectorAll('.multitwitch-select'))
                .filter(n => n.checked)
                .map(n => n.id.split('-')[0])
                .join('/'),
              '_blank')" 
          class="btn btn-primary shadow d-none" id="multitwitch-btn">Multitwitch selected streams</button>
      </div>
      <div class="row justify-content-center mt-3" id="offline-streamers">
        {% for login, data in streamers %}
        <div class="col-auto  mt-3 streamer offline-streamer" id="panel-{{ login }}">
            <div class="card h-100 text-primary bg-dark" style="width: 256px;">
              <img class = "card-img-top d-none thumbnail" 
                   src=""
                   alt="thumbnail for the stream of {{ login }}"
              >
              <div class="card-body">
                <h5 class="card-title">{{ data.name }}</h5>
                {% if 'description' in data %}
                  <p class="card-text">{{ data.description }}</p>
                {% endif %}
                <div class="text-center">
                  <div class="btn-group btn-group-sm">
                    {% if 'twitter' in data %}
                      <a class="btn btn-outline-primary" href="https://twitter.com/{{ data.twitter }}" target="_blank">
                        <i class="bi bi-twitter"></i>
                      </a>
                    {% endif %}
                    {% if 'discord' in data %}
                      <a class="btn btn-outline-primary" href="https://discord.gg/{{ data.discord }}" target="_blank">
                        <i class="bi bi-discord"></i>
                      </a>
                    {% endif %}
                    {% if 'youtube' in data %}
                      <a class="btn btn-outline-primary" href="https://youtube.com/{{ data.youtube }}" target="_blank">
                        <i class="bi bi-youtube"></i>
                      </a>
                    {% endif %}
                    {% if 'instagram' in data %}
                      <a class="btn btn-outline-primary" href="https://instagram.com/{{ data.instagram }}" target="_blank">
                        <i class="bi bi-instagram"></i>
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-center">
                <a href="https://twitch.tv/{{ login }}" class="btn btn-outline-primary align-items-center stream-btn" target="_blank">
                  <i class="bi bi-twitch mr-2"></i>
                  <span>Redif</span>
                </a>
                <small class="text-primary text-right">
                  <span class="viewer-count">Offline</span>
                  <br/>
                  <div class="input-group input-group-sm d-none multitwitch-section">
                    <span class="mr-1">Multitwitch : </span>
                    <div class="input-group-append">
                      <input class="multitwitch-select" type="checkbox" id="{{ streamer.login }}-multitwitch checked=false">
                    </div>
                  </div>
                </small>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Streamer management -->
    <script src="js/stream_management.js"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
